NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_APP_URL=
TRADINGVIEW_WEBHOOK_SECRET=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SB_PUBLISHABLE_KEY=
SB_SECRET_KEY=
FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_API_KEY=
FOUNDRY_MODEL_ANALYSIS=
FOUNDRY_MODEL_PLAN=
FOUNDRY_MODEL_REVIEW=
